<div class="form-group row required">
  <label for="export_type_select" class="control-label col-2">Export Type</label>
  <select name="export_type" id="export_type_select" class="form-control col-6">
    <option value="access">Digital Collections</option>
    <option value="media">Kaltura</option>
    <option value="preservation">LIBSAFE</option>
  </select>
</div>

<div class="form-group">
  <button id="generatePsulExport" class="btn btn-primary submit-btn" disabled>
    <%= I18n.t("plugins.digitization_work_order.download_psul_export_button") %>
  </button>
  <%= link_to I18n.t("plugins.digitization_work_order.cancel_button"),:back, :class => "btn btn-default" %>
</div>

<%= form_tag({:controller => :work_order, :action => :generate_psul_export}, {:method => 'post', :id => "work_order_form"}) do |form| %>
  <%= hidden_field_tag "resource", @uri %>
  <div class="report-fields"></div>

<% end %>